<%= render 'layouts/header', genre: @genre %>
<div class="body">
  <div class="container">
    <p class="lead px-3 text-center">マイページ</p>

    <div class="row">
      <div class="col-md-6">
        < for="firstName">氏名</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>

      <div class="col-md-6 mb-3">
        <label for="firstName">カナ</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">郵便番号</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">住所</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">電話番号</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">メールアドレス</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
    </div>


    <p>
      <%= link_to orders_path, class: "btn btn-primary ml-2" do %>注文履歴一覧を見る<% end %>
    </p>

  </div>
</div>