
$pc: 1200px;
$tb: 768px;
$tbmini: 576px;
$sp: 425px;


//メディアクエリを呼び出す記述
@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tb {
  @media screen and (max-width: ($tb)) {
    @content;
  }
}
@mixin tbmini {
  @media screen and (max-width: ($tbmini)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@mixin blossom-rule {/*ボタン疑似要素の共通事項*/
    content: "";
    display: inline-block;
    background-size: contain;
    opacity: 0;
    position: absolute;
    pointer-events: none;/*ボタンの装飾用*/
}
@mixin blossom {
    @include blossom-rule
    transition: 0.5s;
    background-image: image-url("icon47_7_2_2.png");
    background-repeat: no-repeat;
    z-index: 100;
}

@mixin blossom_part1 {
    @include blossom-rule
    background-image: image-url("icon48_2.png");
    transition: transform 1.5s;
    // transition: 1.5s;　/*opacityが1になるまでにも1.5sかかる*/
    top: -10px;
    right: 15px;
    z-index: 100;
}
@mixin blossom_part2 {
    @include blossom-rule
    background-image: image-url("icon48_3.png");
    transition: transform 2s;
    // transition: 2s;　/*opacityが1になるまでにも2sかかる*/
    top: 0;
    right: 5px;
    opacity: 0;
    z-index: 100;
}

.btn-blue-designs {
  color: white;
  background: #006699;
  transition: 0.5s;
  position: relative;
}

.btn-blue-designs:hover {
  color: white;
  background: #000099;
  transition: 0.5s;
  position: relative;
}

.btn-item {
  width: 100%;
  margin: 0 auto;
  padding: 5px 2px;
  font-size: 1em;
  @include tb{
    font-size: 0.9em;
  }
}

.btn-custom {
  width: 100%;
  @include tb{
    font-size: 0.9em;
  }
}

  .design-box2 {
    padding-top: 100px;
    width: 50%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    @include pc{
      width: 70%;
    }
    @include sp{
      width: 80%;
    }

    .slider6-wrap {
      width: 50%;
      position: relative;
      @include tbmini{
        width: 100%;/*sliderメイン画像横幅*/
        position: relative;
      }
        ul {
          li{
            height: auto;/*sliderメイン画像高さ*/
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            border: thin solid black;
            img {
              display: block;
              width: 100%;
              height: auto;
              object-fit: contain;/*アスペクト比を維持したまま、枠に収まるように拡大縮小される。*/
            }
          }
        }
      .thumbs_dots {
        margin: 10px 0 0;
        ul {
          li {
            display: inline-block;
            width: 25%;
            padding-top: 25%;/*高さをwidthと同じ値にする*/
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.3s;
            border: thin solid black;
            &.slick-active {
              opacity: 1;
            }
          }
        }
      }
    }
    .design-content {
      width: 50%;
      height: auto;
      padding-left: 20px;
      filter: drop-shadow(3px 3px 10px #333366);
      @include tbmini{
        width: 100%;
        padding-left: 0;
      }
      .review-link {
        display: flex;
        padding: 0;
        a {
          text-decoration: underline;
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
        img {
          width: 15px;
        }
      }
      h4 {
        font-size: 20px;
        @include tb{
          font-size: 15px;
        }
      }
      p {
        font-size: 15px;
        color: #444444;
        @include tb{
          font-size: 13px;
        }
      }
      p:nth-child(3) {
        margin-top: 20px;
        @include sp{
          margin-top: 10px;
        }
      }
    }
  }

  .item-box {
    width: 50%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 15px;
    @include pc{
      width: 70%;
    }
    @include sp{
      width: 80%;
    }

    p:nth-child(7),p:nth-child(8) {
      text-align: center;
      margin: 0;
    }

    .item-form {/*商品1列に5つ*/
      width: 20%;
      padding: 0 10px 10px 10px;
      @include tb{
        width: 33.3%;
      }
      @include tbmini{
        width: 50%;
      }
      .item-content {
        img {
          width: 100%;
          height: auto;
          border: thin solid black;
        }

        .item-box-p {
          font-size: 15px;
          text-align: center;
          @include tb{
            font-size: 13px;
            margin-bottom: 2px;
          }
        }
        .item-box-a {
          transition: 0.5s;
          position: relative;
          /*桜の枝(左上)*/
          &::before {
            @include blossom
            width: 40px;
            height: 40px;
            top: -20px;
            left: -10px;

          }
          &:hover::before {
            opacity: 1;
          }




          .item-box-btn {
            font-size: 14px;
            text-align: center;
            position: relative;
            /*blossom part1*/
            &::before {
              @include blossom_part1
              width: 10px;
              height: 10px;

            }
            &:hover::before {
              transform: translateY(25px);
              opacity: 1;
            }

            /*blossom part2*/
            &::after {
              @include blossom_part2
              width: 15px;
              height: 15px;
            }
            &:hover::after {
              // transform: rotateZ(2turn) rotateX(2turn) rotateY(2turn) translateY(50px);
              transform: translateY(20px);
              opacity: 1;
            }

            @include tb{
              font-size: 13px;
            }
          }

        }
      }
    }
  }

  .custom-item-box {
    width: 100%;
    max-width: 1040px;/*svgのimg4つ分*/
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 13px;
    .custom-item-content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;/*左右中央*/
      align-items: center;/*上下中央*/
      #src {
        width: 260px;
        height: 260px;
        margin: 20px 0;
        position: relative;
        font-size: 16px;
        span:nth-child(1) {
          position: absolute;
          top: 5px;
          left: 125px;
        }
        span:nth-child(2) {
          position: absolute;
          top: 38px;
          right: 40px;
        }
        #svg-span3 {
          position: absolute;
          top: 118px;
          right: 5px;
          background-color: transparent;
        }
        span:nth-child(4) {
          position: absolute;
          bottom: 23px;
          right: 40px;
        }
        span:nth-child(5) {
          position: absolute;
          bottom: 5px;
          right: 120px;
        }
        span:nth-child(6) {
          position: absolute;
          bottom: 25px;
          left: 45px;
        }
        span:nth-child(7) {
          position: absolute;
          top: 120px;
          left: 7px;
        }
        span:nth-child(8) {
          position: absolute;
          top: 40px;
          left: 40px;
        }

        svg {
          height: 260px;
          width: 260px;
          border: thin solid black;
          background-color: white;
        }
      }
      .colorpicker-box {
        width: 250px;
        text-align: center;/*左右中央*/
        p {
          margin-bottom: 0;
        }
      }
      .change-img {
        @include sp {
          text-align: center;
          width: 100%;
        }
      }
      .preview-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;/*左右中央*/
        img {
          width: 260px;
          height: 260px;
          @include sp {
            width: 160px;
            height: 160px;
          }
        }
      }
      .custom-image-form {
        text-align: center;
        margin-top: 90px;
      }
      .custom-item-submit {
        width: 100%;
        text-align: center;
        font-size: 17px;
        margin-top: 20px;
        a {
          position: relative;
          &::before {
            @include blossom
            width: 60px;
            height: 60px;
            top: -30px;
            left: -170px;
          }
          &:hover::before {
            opacity: 1;
          }
          .custom-item-box-btn {
            position: relative;
            &::before {
              @include blossom_part1
              width: 15px;
              height: 15px;
            }
            &:hover::before {
              transform: translateY(25px);
              opacity: 1;
            }
            &::after {
              @include blossom_part2
              width: 20px;
              height: 20px;
            }
            &:hover::after {
              transform: translateY(20px);
              opacity: 1;
            }
          }

        }
      }
    }
  }









