
  .body {
    width: 100%;
    font-family: 'Zen Antique', serif;
  }

  .designs-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: start;
  }

  .design-item {
    max-width: 300px;
    width: 25%;
    padding: 0 10px;
  }

  .regular {
    width: 100%;
  }

  .regular img {
    transition-duration: 0.5s;
  }
  .regular img:hover {
    transform: scale(1.2) rotate(9deg);
    transition-duration: 0.5s;
  }
  .design-detail p:nth-child(2) {
    margin-bottom: 3px;
  }
  .design-detail p:nth-child(1) {
    color: gray;
    font-size: calc(min(0.8vw, 13px));
    margin-bottom: 0;
  }
  .design-detail p {
    color: black;
    font-size: calc(min(1vw,15px));
  }

  @media screen and (max-width: 768px) {
  .designs-box {
    width: 100%;
  }
  }
  @media screen and (max-width: 576px) {
  .designs-box {
    width: 100%;
  }
  .design-item {
     width: 50%;
   }
  .design-detail p:nth-child(1) {
    font-size: 10px;
  }
  .design-detail p {
    font-size: 12px;
  }
  }
  @media screen and (max-width: 425px) {
    h2 {
      font-size: 20px;
    }
  }
