

  .designs-box {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: start;
  }

  .design-item {
    width: 25%;
    padding: 0 10px;
    // filter: drop-shadow(3px 3px 10px #333366);
  }

  .regular {
    width: 100%;
  }

  .regular img {
    transition-duration: 0.5s;
  }
  .regular img:hover {
    transform: scale(1.2) rotate(9deg);
    transition-duration: 0.5s;
  }
  .design-detail p:nth-child(2) {
    margin-bottom: 3px;
  }
  .design-detail p:nth-child(1) {
    color: gray;
    font-size: 0.8em;
    margin-bottom: 0;
  }
  .design-detail p:nth-child(3) {
    margin-bottom: 0;
  }
  .design-detail p {
    color: black;
    filter: drop-shadow(3px 3px 10px #333366);
  }

  @media screen and (max-width: 768px) {
  .designs-box {
    width: 100%;
  }
  }
  @media screen and (max-width: 576px) {
  .designs-box {
    width: 100%;
  }
  .design-item {
    width: 50%;
  }
  .design-item {
    padding: 0 5px;
  }
  .design-detail p {
    font-size: 1.5em;
  }
  .design-detail p:nth-child(1) {
    font-size: 1.3em;
  }

  }
  @media screen and (max-width: 425px) {
    h2 {
      font-size: 20px;
    }
  }
