  .body {
    width: 100%;
    font-family: 'Zen Antique', serif;
  }

  .design-box2 {
    padding-top: 100px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    // font-size: 1.5vw;
  }

  .design-content {
    width: 50%;
    max-width: 450px;
    height: auto;
    padding-left: 20px;
  }
  .design-content h4 {
    font-size: 20px;
  }
  .design-content p {
    font-size: 15px;
    color: #444444;
  }

  .design-content p:nth-child(3) {
    margin-top: 20px;
  }

  .slider6-wrap {
    width: 50%;
    max-width: 450px;
    /*width: 450px;/*sliderメイン画像横幅*/
    position: relative;
  }
  .slider-6 .slick-slide {
    height: auto;/*sliderメイン画像高さ*/
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border: thin solid black;
  }
  .slider-6 .slick-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;/*アスペクト比を維持したまま、枠に収まるように拡大縮小される。*/
  }
  .thumbs_dots {
    margin: 10px 0 0;
  }
  .thumbs_list li {
    display: inline-block;
    width: 25%;
    padding-top: 25%;/*高さをwidthと同じ値にする*/
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
    border: thin solid black;
  }
  .thumbs_list li.slick-active {
    opacity: 1;
  }


  .item-box {
    width: 50%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    margin-top: 50px;
  }
  .item-form {
    width: 17%;
    margin: 0 20px 20px 0;
  }

  .item-content img {
    width: 100%;
    height: auto;
    border: thin solid black;
  }
  .item-box-p {
    font-size: 0.8em;
  }

  .item-box p:nth-child(7),p:nth-child(8) {
    text-align: center;
    margin: 0;
  }


  .custom-item-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*左右中央*/
    align-items: center;/*上下中央*/
  }
  .custom-p {
    font-size: 15px;
    margin-bottom: 0;
  }
  .custom-item-form {
    width: 100%;
  }

  svg {
    height: 260px;
    width: 260px;
    border: thin solid black;
    background-color: white;

  }
  .colorpicker-box {
    width: 250px;
    text-align: center;/*左右中央*/
  }

  .custom-item-submit {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .btn-blue-designs {
    color: white;
    background: #006699;
    transition: 0.5s;
  }
  .btn-blue-designs:hover {
    color: white;
    background: #000099;
    transition: 0.5s;
  }

  .btn-item {
    margin: 0 auto;
    padding: 5px 2px;
  }
  .preview-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;/*左右中央*/
    /*display:block;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
  }

  .review-link {
    display: flex;
    padding: 0;
  }

  .review-link a {
    text-decoration: underline;
    color: black;
  }
  .review-link a:hover {
    text-decoration: none;
  }
  .review-link img {
    width: 15px;
  }

  .custom-image-form {
    margin-top: 90px;
  }

  #src {
    width: 300px;
    height: 300px;
    padding-top: 20px;
    position: relative;
  }
  #src span:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 122px;
  }
  #src span:nth-child(2) {
    position: absolute;
    top: 55px;
    right: 80px;
  }
  #src span:nth-child(3) {
    position: absolute;
    top: 135px;
    left: 240px;
    background-color: transparent;
  }
  #src span:nth-child(4) {
    position: absolute;
    bottom: 40px;
    right: 80px;
  }
  #src span:nth-child(5) {
    position: absolute;
    bottom: 20px;
    right: 160px;
  }
  #src span:nth-child(6) {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
  #src span:nth-child(7) {
    position: absolute;
    top: 140px;
    left: 7px;
  }
  #src span:nth-child(8) {
    position: absolute;
    top: 55px;
    left: 35px;
  }









  @media screen and (max-width: 1200px) {/*1000px以上の時*/
  .design-box2 {
    width: 70%;
  }
  .item-box {
    width: 70%;
  }
  .btn-item {
    font-size: 1em;
  }
  }
  @media screen and (max-width: 768px) {
  .design-box2 {
    width: 70%;
  }
  .item-box {
    width: 70%;
  }
  .item-box-p {
    margin-bottom: 2px;
  }
  .btn-item {
    font-size: 0.9em;
  }
  .design-content h4 {
    font-size: 15px;
  }
  .design-content p {
    font-size: 10px;
  }
  .custom-item-content p {
    font-size: 10px;
  }
  .btn-custom {
    font-size: 0.9em;
  }
  }
  @media screen and (max-width: 576px) {/*576px以下の時*/
  .design-box2 {
    width: 90%;
  }
  .slider6-wrap {
    width: 100%;/*sliderメイン画像横幅*/
    position: relative;
  }
  .design-content {
    width: 100%;
    margin-left: 0;
  }
  .design-content p {
    font-size: 1.2em;
  }
  .item-box {
    width: 90%;
  }
  .item-form {
    width: 30%;
    margin: 0 10px 10px 0;
  }
  .item-box-p {
    margin-bottom: 2px;
  }
  }

  @media screen and (max-width: 425px) {/*425px以下の時*/
  .item-form {
    width: 40%;
    margin: 0 10px 10px 0;
  }
  .design-box2 {
    width: 95%;
  }
  .design-content h4 {
    font-size: 12px;
  }

  .item-box-p {
    font-size: 6px;
    margin-bottom: 0;
  }
  .design-content p:nth-child(3) {
    margin-top: 10px;
  }
  }