

.orders_thanks_box p {
  text-align: center;
}

.orders_thanks_text {
  font-size: 1.7em;
}

.orders_thanks_text p {
  margin-bottom: 0;
}

.orders_thanks_box p:nth-child(3) {
  font-size: 1.3em;
}

@media screen and (max-width: 576px) {
  .orders_thanks_text {
    font-size: 3em;
  }
  .orders_thanks_box p:nth-child(3) {
    font-size: 2.5em;
  }
}