.btn-back-orders-show {
  color: white;
  background: #777777;
  margin: 0 auto;
  transition: 0.5s;
  margin-bottom: 10px;
}
.btn-back-orders-show:hover {
  color: white;
  background: #444444;
  transition: 0.5s;
}
