
table img {
  width: 80px;
}
.btn-purple-orders-confirm {
  color: white;
  background: #6A5ACD;
  transition: 0.5s;
}
.btn-purple-orders-confirm:hover {
  color: white;
  background: #4B0082;
  transition: 0.5s;
}
@media screen and (max-width: 576px) {
  .table-confirm {
    font-size: 11px;
  }
  table img {
    width: 50px;
  }
  .field {
    font-size: 11px;
  }
  .btn-purple-orders-confirm {
    font-size: 11px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0;
  }
  .field {
    padding-left: 12px;
  }
}