.order-show-box {
  max-width: 700px;
  width: 60%;
  margin: 0 auto;
}
.table th{
  vertical-align: middle;

}
.table td{
  vertical-align: middle;

}
.btn-back-order-show {
  color: white;
  background: #777777;
  margin: 0 auto;
  transition: 0.5s;
  margin-bottom: 10px;
}
.btn-back-order-show:hover {
  color: white;
  background: #444444;
  transition: 0.5s;
}
.title {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .btn-back-order-show {
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  .order-show-box {
    width: 95%;
    font-size: 11px;
  }
}