
.orders-new-box {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
}
.orders-new-box div {
  margin: 20px auto;
}
.orders-new-box p {
  margin: 0;
}

.orders-new-box label {
  margin: 0;
}
.orders-new-box span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.long-label {
  width: 100%;
}

.short-label {
  width: 50%;
}
.long-input {
  width: 100%;
  box-sizing:border-box;
}
.short-input {
  width: 100%;
}

.input-orders-new {/*btn*/
  text-align: center;
}

.btn-purple-orders-new {
  color: white;
  background: #6A5ACD;
  transition: 0.5s;
  width: 35%;
  font-size: 0.8em;/*btn*/
  margin-top: 50px;
}
.btn-purple-orders-new:hover {
  color: white;
  background: #4B0082;
  transition: 0.5s;
}

@media screen and (max-width: 576px) {
  .orders-new-box {
    width: 80%;
  }
  .btn-purple-orders-new {
    width: 90%;
  }
}
