.body {
  font-family: 'Zen Antique', serif;
}
.registration-box {
  width: 425px;
  margin: 0 auto;
}

.registration-box p {
  margin: 3px 0 3px 0;
}
.registration-box span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.long-label {
  width: 100%;
}

.short-label {
  width: 49.5%;
}

.long-input {
  width: 100%;
  box-sizing:border-box;
}
.short-input {
  width: 100%;
}

.btn-purple-registration {
  color: white;
  background: #6A5ACD;
  transition: 0.5s;
  margin-top: 20px;
}
.btn-purple-registration:hover {
  color: white;
  background: #4B0082;
  transition: 0.5s;
}
.btn-back-registration {
  color: white;
  background: #777777;
  margin: 0 auto;
  transition: 0.5s;
  margin: 20px 0;
}
.btn-back-registration:hover {
  color: white;
  background: #444444;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .registration-box {
    width: 300px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {/*エラーメッセージ「未入力の項目があります」*/
    font-size: 15px;
  }
  .btn-purple-registration {
    font-size: 10px;
  }
  .btn-back-registration {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .registration-box {
    width: 90%;
    font-size: 10px;
  }
}