.container {
  width: 40%;
  margin-top: 50px;
}

.review-box-index {
  width: 100%;
  height: auto;
  border: thin solid black;
  margin: 10px 0;
  background-color: white;
  // overflow: visible;
  word-wrap: break-word;
}
.review-box-index div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-box-index-body {
  width: 100%;
  height: auto;
}
.review-box-index p {
  margin: 0 15px;
  word-break: break-all;
}

.review-img {
  width: 100px;
  height: auto;
}
.nothing-review-img {
  width: 100px;
  height: 100px;
}

.review-click {
  text-align: center;
}
.btn-back-reviews-index {
  color: white;
  background: #777777;
  transition: 0.5s;
}
.btn-back-reviews-index:hover {
  color: white;
  background: #444444;
  transition: 0.5s;
}
.btn-purple-reviews-index {
  color: white;
  background: #6A5ACD;
  transition: 0.5s;
}
.btn-purple-reviews-index:hover {
  color: white;
  background: #4B0082;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .review-img {
    width: 80px;
    height: auto;
  }
  .nothing-review-img {
    width: 80px;
    height: 80px;
  }
  .review-index-rate {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 20px;
  }
}