// Place all the styles related to the public/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.review-box_new {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.review-image img {
  width: 150px;
  height: auto;
}
.review-star {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
#star {
  margin: 0 auto;
}
.review-body {
  width: 50%;
  margin: 20px 25% 50px 25%;
}
.review-image-file {
  margin: 30px 0 0 0;
}

.btn-purple-reviews-new {
  color: white;
  background: #6A5ACD;
  transition: 0.5s;
}
.btn-purple-reviews-new:hover {
  color: white;
  background: #4B0082;
  transition: 0.5s;
}
@media screen and (max-width: 576px) {/*425px以下の時*/

  .review-image img{
    width: 100px;
  }
  .review-body {
    width: 90%;
    margin: 20px 5% 50px 5%;
  }
}