.body {
  font-family: 'Zen Antique', serif;
}
.registration-box {
  width: 425px;
  margin: 0 auto;
}
.registration-box p {
  margin: 3px 0 3px 0;
}

.long-label {
  width: 100%;
}
.long-input {
  width: 100%;
  box-sizing:border-box;
}
.btn-purple-session {
  color: white;
  background: #6A5ACD;
  transition: 0.5s;
  margin-top: 20px;
}
.btn-purple-session:hover {
  color: white;
  background: #4B0082;
  transition: 0.5s;
}
.btn-back-session {
  color: white;
  background: #777777;
  margin: 0 auto;
  transition: 0.5s;
  margin: 20px 0;
}
.btn-back-session:hover {
  color: white;
  background: #444444;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  h4 {/*エラーメッセージ「未入力の項目があります」*/
    font-size: 15px;
  }
  .btn-purple-session {
    font-size: 10px;
  }
  .btn-back-session {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .registration-box {
    width: 100%;
    font-size: 10px;
  }
}