<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @customer.full_name %>様</h1>

    <p><<お支払いをお願いいたします>></p>


    <p>以下の商品のご購入手続きが完了いたしました。</p>


    <p>引き続き、振込でのお支払いをお願いいたします。</p>

    <p>■購入情報</p>
    <!--each???-->
    <p>---------------</p>
    <p>商品名：@order_detail.item.item_name</p>
    <p>価格 &emsp;：￥@order_detail.item.item_price</p>
    <p>数量 &emsp;：@order_detail.item.amount</p>
    <p>---------------</p>

    <p>===============</p>
    <p>購入日時：</p>
    <p>取引状況：</p>
    <p>送料：</p>
    <p>合計：</p>
    <p>===============</p>

    <p>お支払い（振込）</p>
    <p>---------------</p>
    <p>銀行名：</p>
    <p>支店名：</p>
    <p>口座番号：</p>
    <p>---------------</p>

    <p>※入金の確認ができ次第、商品の製作を始めます。</p>

    <p>p1週間以上経過しても入金の確認が取れなかった場合、
       ご購入をキャンセルさせていただく場合がございます。
    </p>


  </body>
</html>