<h1>Admin::Designs#index</h1>
<p>Find me in app/views/admin/designs/index.html.erb</p>

<div class="photo-center col-xl-10 col-lg-10 col-md-10 p-0">
  <div class="index-box">
      <div class="index-image"></div>
  </div>
</div>