<%= render 'layouts/header' %>

<h4 class="text-center font-weight-bold mt-5">
  <p>ご注文が確定いたしました。</p>
  <p>ありがとうございます！</p>
</h4>
<br>
<h5 class="text-center">
  <p>(注文情報はマイページからご覧いただけます。)</p>
</h5>

<ul class="slider-1" id="js-slider-1">
  <li><img src="/assets/flow01.png"></li>
  <li><%= image_tag asset_path("flow02.png") %></li>
  <li><%= image_tag asset_path("flow03.png") %></li>
</ul>