<%= render 'layouts/header', genre: @genre %>

<div class="body">
  
  <h4 class="text-center font-weight-bold mt-5">
    <p>ご注文が確定いたしました。</p>
    <p>ありがとうございます！</p>
  </h4>
  <br>
  <h5 class="text-center">
    <p>(注文情報はマイページからご覧いただけます。)</p>
  </h5>

</div>

<%= render 'layouts/footer' %>
