/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
*= require_self
*/


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* フォント一覧
font-family: 'Yuji Syuku', serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Zen Antique', serif;
*/



// .body {
//   width: 100%;
//   background-color: #D9E5FF;
//   font-family: 'Zen Antique', serif;
//   // color: white;
// }

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Zen Antique', serif;
  background-image: linear-gradient(180deg, rgba(240, 238, 242, 0.68), rgba(75, 79, 155, 0.32));
}

.body {
  margin-top: 100px;
}


.container {
  font-family: 'Zen Antique', serif;
  // font-size: 0.6em;
  width: 100%;
  min-height: 100vh;
}
.container-lg {/*public/orders#show*/
  font-family: 'Zen Antique', serif;
  // font-size: 0.6em;
  width: 100%;
  height: 100vh;
}


/*admin用*/
h3 {
  text-align: center;
  width: 170px;
  background:linear-gradient(transparent 60%, #ffff66 0%);
}

h4 {
  font-family: 'Kaisei Tokumin', serif;
}



.path:hover {
    text-decoration: none;
  }
.path_line:hover {
   text-decoration-color: white;
}


#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-image: image-url("white_00118.jpg");
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #003300;
}

/* Loading アイコンの大きさ設定　*/
  #splash_logo .fadeUp {
  background-image: image-url("738540-removebg-preview.png");
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 700px;
  animation-name: fadeUpAnime;
  animation-duration:1.0s;
  animation-fill-mode:forwards;
  opacity: 0;
}


/* fadeUpをするアイコンの動き（テキストver） */
// .fadeUp{
// font-size: 200px;
// font-family: 'Yuji Syuku', serif;
// transform: translate(-50%, -50%);
// animation-name: fadeUpAnime;
// animation-duration:0.5s;
// animation-fill-mode:forwards;
// opacity: 0;
// }
// .fadeUp2{
// font-family: 'Yuji Syuku', serif;
// font-size: 200px;
// animation-name: fadeUpAnime;
// animation-duration:1.0s;
// animation-fill-mode:forwards;
// opacity: 0;
// }
// .fadeUp3{
// font-size: 200px;
// font-family: 'Yuji Syuku', serif;
// animation-name: fadeUpAnime;
// animation-duration:1.5s;
// animation-fill-mode:forwards;
// opacity: 0;
// }
// .fadeUp4{
//   background-image: image-url("738540.jpg");
//   animation-name: fadeUpAnime;
//   animation-duration:1.7s;
//   animation-fill-mode:forwards;
//   opacity: 0;
// }


@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}




/*top画面*/
.top-container {
  width: 100%;
  height: 100vh;
  font-family: 'Kaisei Tokumin', serif;
  background-size: cover;
  position: relative;
}

.photo-center {
  width: 100%;
  height: 100%;
  // z-index: 0 !important;
}

.image1 {
  background-image: image-url("IMG_9554.JPG");
  background-size: cover;
  background-position: bottom;
}
.image2 {
  background-image: image-url("IMG_9641.JPG");
  background-size: cover;
  background-position: bottom;
}
.image3 {
  background-image: image-url("IMG_9654.JPG");
  background-size: cover;
  background-position: top;
}
.image4 {
  background-image: image-url("IMG_9904.JPG");
  background-size: cover;
  background-position: top;
}


.sidebar {
  width: 150px;
  height: 300px;
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: white;
  z-index: 50;
}

.hanahiroba-icon {
  width: 150px;
  height: 150px;
  background-color: #000055;
  background-image: image-url("IMG_6055.PNG");
  background-size: cover;
}

.top-menu-content {
  margin-top: 40px;
}
.top-menu-content li {
  list-style: none;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}

/* ---------------------------- */
/* -- ハンバーガーアイコンtop-- */
/* ---------------------------- */

#hm-icon {
  position: fixed;
  vertical-align:middle;
}


.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 150px;
  height: 150px;
}

.menu-trigger span:nth-child(1),span:nth-child(3) {
  position: absolute;
  left: 23px;
  width: 70%;
  height: 7px;
  background-color: #000066;
}

.menu-trigger span:nth-child(1) {
  top: 30px;
}
.menu-trigger span:nth-child(2) {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 40px;
  color: #000066;
}
.menu-trigger span:nth-child(3) {
  bottom: 30px;
}
.menu-trigger.active span:nth-child(1) {
  transform: translateY(40px) rotate(-45deg);
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  transform: translateY(-40px) rotate(45deg);
}




/* ------ spメニュー ------ */

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 40;
}

/*ハンバーガーメニュー一覧*/

// sp-menu上下左右中央
.menu-content {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Kaisei Tokumin', serif;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 2vh;
}

/*ハンバーガーここまで*/
/*topここまで*/






////////////////////////
//////public#header/////viewぺ―ジに移行
////////////////////////
header {
  width: 100%;
  height: 250px;

}

.nav-text .nav-name {
  color: #000055;
  margin: 0 20px;
}
.nav-text .nav-genre {
  color: #000055;
}
.nav-text .nav-name:nth-child(1) {
  margin-left: 5px;
}

.nav-text .nav-name:hover {
  background-color: #000080;
  padding: 30px 0 30px 0;
  color: #fff;
}
.nav-text .nav-genre:hover {
  background-color: #008BBB;
  padding: 20px 0 30px 0;
  color: #fff;
}

.nav-text {
  position: absolute;
  top: 40px;
  right: 250px;
  z-index: 999;
  width: 500px;
  writing-mode: vertical-rl;
  font-family: 'Kaisei Tokumin', serif;
  font-size: 20px;
}

.nav-hanahiroba-icon {
  background-image: image-url("IMG_6055.PNG");
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 999;
}


.nav-text li {
  list-style: none;
  color: #000055;
  font-weight: bold;
}

.login-content {
  position: absolute;
  top: 0;
  left: 50px;
  writing-mode: vertical-rl;
  font-size: 15px;
  font-family: 'Kaisei Tokumin', serif;
  background-color: #4B0082;
  color: #fff;
  padding: 60px 0 5px 0;
}


/*header ハンバーガー*/
.public-sidebar {
  display: none;
  width: 50px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  z-index: 50;
}

.public-hanahiroba-icon {
  width: 50px;
  height: 50px;
  background-color: #000055;
  background-image: image-url("IMG_6055.PNG");
  background-size: cover;
}

#public-hm-icon {
  position: absolute;
  vertical-align:middle;
}
/*header ハンバーガーここまで*/

/*public#headerここまで*/



/*プレビュー機能*/
article{
    height: auto;
    margin:auto;
    margin-top:10px;
 }

.thumbnail{
    width: 200px;
    height: 200px;
    margin: 10px 10px 0 0;
    float: left;
 }

#result {
  display: flex;
  flex-wrap: wrap;
}
/*プレビュー機能ここまで*/






//////////////////////
///////footer////////
//////////////////////

  footer {
    margin-top: 400px;
    font-family: 'Zen Antique', serif;
    width: 100%;
    height: 120px;
    background-image: image-url("top4.jpg");
    background-size: cover;
    background-position: center;
    border-top: thin solid #000099;
    color: #000099;
  }

  .background {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(180deg, rgba(240, 238, 242, 0.68), rgba(75, 79, 155, 0.32));
  }

  .footer-text {
    font-family: 'Yuji Syuku', serif;
    font-size: 35px;
    text-align: center;
    margin: 0;
  }
  .footer-text-kana {
    font-family: 'Yuji Syuku', serif;
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    line-height: 0;
  }

  .footer-center {
    height: 40px;
    border-bottom: thin solid #000099;
    border-top: thin solid #000099;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .footer-center a {
    color: #000099;
    text-decoration: none;
  }
  .footer-center a:hover {
    color: #000099;
  }

  .background i {/*font awesome*/
    vertical-align: middle;
    font-size: 20px;
  }
  .copyright {
    font-size: 10px;
    text-align: center;
  }




@media screen and (max-width: 1200px) {
/*top画面*/
.sidebar {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.hanahiroba-icon {
  width: 100px;
  height: 100px;
}
.menu-trigger {
  width: 100px;
  height: 100px;
}
.menu-trigger span:nth-child(1),span:nth-child(3) {
  position: absolute;
  left: 15px;
  width: 70%;
  height: 7px;
}
.menu-trigger span:nth-child(1) {
  top: 20px;
}
.menu-trigger span:nth-child(2) {
  position: absolute;
  top: 28px;
  left: 14px;
  font-size: 25px;
}
.menu-trigger span:nth-child(3) {
  bottom: 20px;
}
.menu-trigger.active span:nth-child(1) {
  transform: translateY(26px) rotate(-45deg);
}
.menu-trigger.active span:nth-child(3) {
  transform: translateY(-26px) rotate(45deg);
}

/*header画像*/
header {
  height: 250px;
}

.nav-text {
  position: absolute;
  top: 25px;
  right: 160px;
  font-size: 15px;
}

.login-content {
  position: absolute;
  top: 0;
  left: 50px;
  font-size: 10px;
  padding: 30px 0 5px 0;
}
.nav-hanahiroba-icon {

  width: 150px;
  height: 150px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
}
}


@media screen and (max-width: 800px) {
  /*top画面スライド画像*/
  .image1 {
    background-image: image-url("IMG_9551.JPG");
    background-size: cover;
    background-position: center;
  }

  .image2 {
    background-image: image-url("IMG_9590.JPG");
    background-size: cover;
    background-position: top;
  }
  .image3 {
    background-image: image-url("IMG_9712.JPG");
    background-size: cover;
    background-position: top right;
  }
  .image4 {
    background-image: image-url("IMG_9900.JPG");
    background-size: cover;
    background-position: top right;
  }
 /*top画面スライド画像ここまで*/
}


/*public header用*/
@media screen and (max-width: 768px) {

  /*top画面*/
  .sidebar {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .hanahiroba-icon {
    width: 50px;
    height: 50px;
  }
  /*top画面 & public header*/
  .menu-trigger {
    width: 50px;
    height: 50px;
  }
  .menu-trigger span:nth-child(1),span:nth-child(3) {
    position: absolute;
    left: 8px;
    width: 70%;
    height: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 10px;
  }
  .menu-trigger span:nth-child(2) {
    position: absolute;
    top: 15px;
    left: 7px;
    font-size: 13px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 10px;
  }
  .menu-trigger.active span:nth-child(1) {
    transform: translateY(13px) rotate(-45deg);
  }
  .menu-trigger.active span:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
  }

  /*headerナビがハンバーガーに切り替わる*/
  .nav-hanahiroba-icon {
    display: none;
  }
  .public-sidebar {
    display: block;
  }
  .nav-text {
    display: none;
  }
  /*headerナビがハンバーガーに切り替わるここまで*/


  /*public header*/
  header {
    height: 200px;
  }
  /*public headerここまで*/
}


@media screen and (max-width: 576px) {

/*public header*/
  header {
    height: 150px;
    margin-bottom: 50px;
  }
/*public headerここまで*/
}



