/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "skippr";

 * {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


/*
header {
  background-color: #008080;
  color :#FFFFFF;
}
*/






/*
#slick {
  width: 100%;
}

#slick-slide{
	height:auto!important;
}

.slick1 {
  background-image: url(watercolor_00011.jpg);
  width:200px;
  height: 200px;
}
.slick2 {
  background-image: url(watercolor_00031.jpg);
  background-position: bottom;
  width:200px;
  height: 200px;
}
.slick3 {
  background-image: url(watercolor_00011.jpg);
  width:200px;
  height: 200px;
}


.gallery{
	margin:0 0 5px 0;
}

.gallery li{
list-style:none;
}

*/
















body{
  width: 100%;
  font-family: 'Yuji Syuku', serif;
  /*background-image: url(japanese-paper_00162.jpg);*/
  /*background-color: #F5F5DC;*/
}




#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-image: url(japanese-paper_00548.jpg);
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #003300;
}

/* Loading アイコンの大きさ設定　*/
  #splash_logo .fadeUp {
  background-image: url(image.png);
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 700px;
  animation-name: fadeUpAnime;
  animation-duration:1.0s;
  animation-fill-mode:forwards;
  opacity: 0;
}


/* fadeUpをするアイコンの動き（テキストver） */
/*.fadeUp{*/
/*font-size: 200px;*/
/*font-family: 'Yuji Syuku', serif;*/
/*transform: translate(-50%, -50%);*/
/*animation-name: fadeUpAnime;*/
/*animation-duration:0.5s;*/
/*animation-fill-mode:forwards;*/
/*opacity: 0;*/
/*}*/
/*.fadeUp2{*/
/*font-family: 'Yuji Syuku', serif;*/
/*font-size: 200px;*/
/*animation-name: fadeUpAnime;*/
/*animation-duration:1.0s;*/
/*animation-fill-mode:forwards;*/
/*opacity: 0;*/
/*}*/
/*.fadeUp3{*/
/*font-size: 200px;*/
/*font-family: 'Yuji Syuku', serif;*/
/*animation-name: fadeUpAnime;*/
/*animation-duration:1.5s;*/
/*animation-fill-mode:forwards;*/
/*opacity: 0;*/
/*}*/


@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}







.container {
  width: 100%;
  height: 100vh;
}



h3 {
  text-align: center;
  width: 170px;
  background:linear-gradient(transparent 60%, #ffff66 0%);
}

.path:hover {
    text-decoration: none;
  }
.path_line:hover {
   text-decoration-color: white;
}


/*top画面*/
.top-container {
  width: 100%;
  height: 100vh;
  font-family: 'Kaisei Tokumin', serif;
  /*background-color: #E6E6FA;*/
  background-image: url(japanese-paper_00182.jpg);
  background-size: cover;
}

.row-header {
  width: 100%;
  height: 7%;
  border: double 7px #AA0000;
  display:table;
  padding-left: 20px;
}
.header-text {
  font-family: 'Yuji Syuku', serif;
  font-weight: bold;
  display:table-cell;
  vertical-align:middle;
  font-size: 2em;
  color: #880000;
}

.row-center {
  width: 100%;
  height: 86%;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.m1-center{
  writing-mode: vertical-rl;
  border: double 7px #AA0000;
}

.photo-center {
  width: 90%;
  height: 100%;
  z-index: 0 !important;
}

.image1 {
  background-image: url(top1.jpg);
  background-size: contain;
  background-position: top;
}
.image2 {
  background-image: url(top5.jpg);
  background-size: cover;
  background-position: top;
}
.image3 {
  background-image: url(top2.jpg);
  background-size: cover;
  background-position: top;
}
.image4 {
  background-image: url(top7.jpg);
  background-size: cover;
  background-position: top;
}

.row-footer {
  width: 100%;
  height: 7%;
  border: double 7px #AA0000;
  display:table;
  padding-right: 20px;
}
.footer-text {
  font-family: 'Yuji Syuku', serif;
  display:table-cell;
  vertical-align:middle;
  text-align: right;
  font-size: 1.5em;
}

.menu-text1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #006633;
    transition: 0.2s;
 }
.menu-text1:hover {
    font-size: 28px;
 }

.menu-text2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6600FF;
    transition: 0.2s;
 }
 .menu-text2:hover {
    font-size: 28px;
 }

.menu-text3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #800000;
    transition: 0.2s;
 }
 .menu-text3:hover {
    font-size: 28px;
 }

.menu-text4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #CC6600;
    transition: 0.2s;
}
.menu-text4:hover {
    font-size: 28px;
 }
.menu-text5 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#6633CC;
    transition: 0.2s;
}
.menu-text5:hover {
    font-size: 28px;
 }
/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  display:none;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 10;
  vertical-align:middle;
  font-size: 30px;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 30px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #006633;
}
.menu-trigger span:nth-child(1) {
  top: 5px;
}
.menu-trigger span:nth-child(2) {
  top: 15px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0px;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-40deg);
  transform: translateY(10px) rotate(-40deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(40deg);
  transform: translateY(-10px) rotate(40deg);
  background-color: #fff;
}
/* ------ spメニュー ------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
/*ハンバーガーメニュー一覧*/
.menu-content {
  margin-top: 50%;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
}
/*ハンバーガーここまで*/
/*topここまで*/

header h1{
    font-size:12pt;
    color: #fff;
    background-color: #1BA1E2;
    padding: 20px;

}

/*プレビュー機能*/
article{
    height: auto;
    margin:auto;
    margin-top:10px;
 }

.thumbnail{
    width: 200px;
    height: 200px;
    margin: 10px 10px 0 0;
    float: left;
 }
/*使い道？
.item_thumbnail{
    height: 100px;
    margin: 10px;
    float: left;
 }
*/
 .add_item {
   color: red;
 }

#result {
  display: flex;
  flex-wrap: wrap;
}
/*プレビュー機能ここまで*/



/*public/genre#index*/
.genre-body {
  background-color: #F5F5DC;
}
.genre-header {
  width: 100%;
  height: 600px;
  background: linear-gradient(0deg, #F5F5DC, #669966 20%, #336633 40%, #003300);
  margin-bottom: 100px;
}

.genre-nav {
  width: 400px;
  height: 400px;
  background-image: url(image.png);
  background-size: cover;
}

.genre-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  height: auto;
  margin: 30px 0 30px 50px;
  /*border-bottom-style: dashed;
  border-bottom-color: #CC6633;
  border-top-style: dotted;
  border-top-color: #CC6633;
  /*background-image: url(japanese-paper_00548.jpg);
  /*background-color: rgba(153,153,102,0.85)*/
}

.genre-box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  height: auto;
  padding: 30px 50px 30px 0;
  /*border-bottom-style: dashed;
  border-bottom-color: #CC6633;
  border-top-style: dotted;
  border-top-color: #CC6633;
  /*background-image: url(japanese-paper_00162_2.jpg);
  /*background-color: rgba(85,107,47,0.85)*/
}

.genre-image {
  width: 310px;
  height: 310px;
  margin: 30px 20px;
}

.genre-name {
  font-size: 2em;
  padding: 0 20px;
  margin: 30px;
  background-color: #fff;
  font-family: 'Kaisei Tokumin', serif;
  border: 3mm ridge rgba(102,153,51,1)
}

.genre-name2 {
  font-size: 2em;
  padding: 0 20px;
  margin: 30px;
  background-color: #fff;
  font-family: 'Kaisei Tokumin', serif;
  border: 3mm ridge rgba(102,153,51,1)
}
.genre-name-box {
  text-align: right;
}

.design-link {
  font-size: 1.7em;
  font-family: 'Yuji Syuku', serif;
  color: #000;
}
.design-link:hover {
    color: #BB0000;
    transition: 0.5s;
    text-decoration: none;
 }

/*public/genre#indexここまで*/


/*public/design#index*/

.header {
  width: 100%;
  height: 600px;
  background-image: url("watercolor_00031_2.jpg");
  background-position: bottom;
  background-size: cover;
}
.nav {
  width: 400px;
  height: 400px;
  background-image: url(image.png);
  background-size: cover;
}
.nav-text .nav-name {
  margin: 0 20px;
}
.nav-text .nav-name:nth-child(1) {
  margin-left: 5px;
}

.nav-text .nav-name:hover {
  background-color: #000080;
  padding: 30px 0 30px 0;
}
.nav-text .nav-genre:hover {
  background-color: #4169E1	;
  padding: 20px 0 30px 0;
}


.nav-text {
  position: absolute;
  top: 60px;
  right: 160px;
  z-index: 999;
  width: 500px;
  writing-mode: vertical-rl;
  font-family: 'Yuji Syuku', serif;
  font-size: 1.7em;
}

.nav-text li {
  list-style: none;
  color: #fff;
  font-weight: bold;
}


.design-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.design-image-box {
  width: 100%;
  height: auto;
}
.design-image {
  width: 100%;
  height: 100%;
}

.design-footer{
  width: 100%;
  height: 500px;
  background-image: url(japanese-paper_00162_2.jpg);
  border-top: thin solid #999966;
  margin-top: 60px;
}
.icon {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url(image.png);
  background-size: cover;
  background-position: center;
}


.design_box {
  width: 100%;
  height: 300px;
}

/*public/design#indexここまで*/
@media screen and (max-width: 800px) {
  .image1 {
    background-image: url(top1_2.jpg);
    background-size: cover;
    background-position: top;
  }

  .image2 {
    background-image: url(top5_3.jpg);
    background-size: cover;
    background-position: left;
  }
  .image3 {
    background-image: url(top2_3.jpg);
    background-size: cover;
    background-position: top right;
  }
  .row-center {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 576px) {
  .m1-center {
    display: none;
  }
/*スマホサイズ(ハンバーガーメニュー用)*/
  #hm-icon {
    display:block;
  }
}


@media screen and (max-height: 900px) {
  #hm-icon {
    font-size: 20px;
 }

 .header-text {
   font-size: 1.4em;
 }
 .footer-text {
   font-size: 1.2em;
 }

  .menu-trigger span:nth-child(1) {
    top: 5px;
 }
  .menu-trigger span:nth-child(2) {
    top: 12px;
 }
  .menu-trigger span:nth-child(3) {
    top: 19px;
 }
  .menu-trigger {
    position: relative;
    width: 20px;
    height: 20px;
 }

 .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(-40deg);
    transform: translateY(7px) rotate(-40deg);
    background-color: #fff;
}
 .menu-trigger.active span:nth-child(2) {
    opacity: 0;
}
 .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(40deg);
    transform: translateY(-7px) rotate(40deg);
    background-color: #fff;
}
}