/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



// @import ”skippr”；


 * {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


/* フォント一覧
font-family: 'Yuji Syuku', serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Zen Antique', serif;
*/



// .body {
//   width: 100%;
//   background-color: #D9E5FF;
//   font-family: 'Zen Antique', serif;
//   // color: white;
// }

body {
  width: 100%;
  font-family: 'Zen Antique', serif;
  background-image: linear-gradient(180deg, rgba(240, 238, 242, 0.68), rgba(75, 79, 155, 0.32));
}



.container {
  font-family: 'Zen Antique', serif;
  // font-size: 0.6em;
  width: 100%;
  height: 100vh;
}


/*admin用*/
h3 {
  text-align: center;
  width: 170px;
  background:linear-gradient(transparent 60%, #ffff66 0%);
}

h4 {
  font-family: 'Kaisei Tokumin', serif;
}



.path:hover {
    text-decoration: none;
  }
.path_line:hover {
   text-decoration-color: white;
}


#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-image: image-url("japanese-paper_00548.jpg");
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #003300;
}

/* Loading アイコンの大きさ設定　*/
  #splash_logo .fadeUp {
  background-image: image-url("image.png");
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 700px;
  animation-name: fadeUpAnime;
  animation-duration:1.0s;
  animation-fill-mode:forwards;
  opacity: 0;
}


/* fadeUpをするアイコンの動き（テキストver） */
/*.fadeUp{*/
/*font-size: 200px;*/
/*font-family: 'Yuji Syuku', serif;*/
/*transform: translate(-50%, -50%);*/
/*animation-name: fadeUpAnime;*/
/*animation-duration:0.5s;*/
/*animation-fill-mode:forwards;*/
/*opacity: 0;*/
/*}*/
/*.fadeUp2{*/
/*font-family: 'Yuji Syuku', serif;*/
/*font-size: 200px;*/
/*animation-name: fadeUpAnime;*/
/*animation-duration:1.0s;*/
/*animation-fill-mode:forwards;*/
/*opacity: 0;*/
/*}*/
/*.fadeUp3{*/
/*font-size: 200px;*/
/*font-family: 'Yuji Syuku', serif;*/
/*animation-name: fadeUpAnime;*/
/*animation-duration:1.5s;*/
/*animation-fill-mode:forwards;*/
/*opacity: 0;*/
/*}*/


@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}




/*top画面*/
.top-container {
  width: 100%;
  height: 100vh;
  font-family: 'Kaisei Tokumin', serif;
  /*background-color: #E6E6FA;*/
  background-image: image-url("japanese-paper_00182.jpg");
  background-size: cover;
  position: relative;
}



.photo-center {
  width: 100%;
  height: 100%;
  // z-index: 0 !important;
}

.image1 {
  background-image: image-url("IMG_9554.JPG");
  background-size: contain;
  background-position: top;
}
.image2 {
  background-image: image-url("IMG_9641.JPG");
  background-size: cover;
  background-position: top;
}
.image3 {
  background-image: image-url("IMG_9654.JPG");
  background-size: cover;
  background-position: top;
}
.image4 {
  background-image: image-url("IMG_9904.JPG");
  background-size: cover;
  background-position: top;
}


.sidebar {
  width: 150px;
  height: 300px;
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: white;
  z-index: 50;
}

.hanahiroba-icon {
  width: 150px;
  height: 150px;
  background-color: #000055;
  background-image: image-url("IMG_6055.PNG");
  background-size: cover;
}

.top-menu-content {
  margin-top: 40px;
}
.top-menu-content li {
  list-style: none;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}

/* ---------------------------- */
/* -- ハンバーガーアイコンtop-- */
/* ---------------------------- */

#hm-icon {
  position: fixed;
  vertical-align:middle;
}


.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 150px;
  height: 150px;
}

.menu-trigger span:nth-child(1),span:nth-child(3) {
  position: absolute;
  left: 23px;
  width: 70%;
  height: 7px;
  background-color: #000066;
}

.menu-trigger span:nth-child(1) {
  top: 30px;
}
.menu-trigger span:nth-child(2) {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 40px;
  color: #000066;
}
.menu-trigger span:nth-child(3) {
  bottom: 30px;
}
.menu-trigger.active span:nth-child(1) {
  // -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(40px) rotate(-45deg);
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  // -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-40px) rotate(45deg);
}




/* ------ spメニュー ------ */

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 40;
}

/*ハンバーガーメニュー一覧*/

// sp-menu上下左右中央
.menu-content {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: 'Kaisei Tokumin', serif;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
}

/*ハンバーガーここまで*/
/*topここまで*/






////////////////////////
//////public#header/////viewぺ―ジに移行
////////////////////////
header {
  width: 100%;
  height: 250px;

}

.nav-text .nav-name {
  color: #000055;
  margin: 0 20px;
}
.nav-text .nav-genre {
  color: #000055;
}
.nav-text .nav-name:nth-child(1) {
  margin-left: 5px;
}

.nav-text .nav-name:hover {
  background-color: #000080;
  padding: 30px 0 30px 0;
  color: #fff;
}
.nav-text .nav-genre:hover {
  background-color: #4169E1	;
  padding: 20px 0 30px 0;
  color: #fff;
}

.nav-text {
  position: absolute;
  top: 40px;
  right: 250px;
  z-index: 999;
  width: 500px;
  writing-mode: vertical-rl;
  font-family: 'Kaisei Tokumin', serif;
  font-size: 20px;
}

.nav-hanahiroba-icon {
  background-image: image-url("IMG_6055.PNG");
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 999;
}


.nav-text li {
  list-style: none;
  color: #000055;
  font-weight: bold;
}

.login-content {
  position: absolute;
  top: 0;
  left: 50px;
  writing-mode: vertical-rl;
  font-size: 15px;
  font-family: 'Kaisei Tokumin', serif;
  background-color: #008BBB;
  color: #fff;
  padding: 60px 0 5px 0;
}


/*header ハンバーガー*/
.public-sidebar {
  display: none;
  width: 50px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  z-index: 50;
}

.public-hanahiroba-icon {
  width: 50px;
  height: 50px;
  background-color: #000055;
  background-image: image-url("IMG_6055.PNG");
  background-size: cover;
}

#public-hm-icon {
  position: absolute;
  vertical-align:middle;
}

/*public#headerここまで*/



/*プレビュー機能*/
article{
    height: auto;
    margin:auto;
    margin-top:10px;
 }

.thumbnail{
    width: 200px;
    height: 200px;
    margin: 10px 10px 0 0;
    float: left;
 }
/*使い道？
.item_thumbnail{
    height: 100px;
    margin: 10px;
    float: left;
 }
*/
 .add_item {
   color: red;
 }

#result {
  display: flex;
  flex-wrap: wrap;
}
/*プレビュー機能ここまで*/



/*/////////////////////
//public/design#index//
/////////////////////*/

// .designs-box {
//   width: 100%;
//   height: auto;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: start;
// }

// .design-item {
//   max-width: 300px;
//   width: 25%;
//   // margin: 0 30px;
// }

// .regular {
//   width: 90%;
//   // margin: 0 30px;
// }
// .slick-slide img {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
// }

// .design-detail {
//   width: 90%;
//   // max-width: 300px;
//   // margin: 0 30px;
//   // max-height: 200px;
//   color: black;
// }
// .design-detail h5 {
//   margin-bottom: 0;
// }
// .design-index-genre {
//   font-size: 0.8em;
//   color: gray;
// }

// .slick-slide {
//   margin: 0 5px;
// }

// .slick-prev, .slick-next {
//   z-index: 1;
//   font-weight: bold;
// }

// .slick-prev:before, .slick-next:before {
//   color: #000;
// }
// .slick-next:before {
//   content: '';
// }
// .slick-prev:before {
//   content: '';
// }

// .slick-dots li.slick-active button:before {
//     opacity: .75;
//     color: black;
// }
// .slick-dots li button:before {
//     font-family: 'slick';
//     font-size: 0;
//     line-height: 0;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 0;
//     height: 0;
//     content: '•';
//     text-align: center;
//     opacity: .25;
//     color: black;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
/*public/design#indexここまで*/







/*////////////////////
/////designs#show/////
////////////////////*/


// .design-show-body {
//   font-family: 'Kaisei Tokumin', serif;
//   font-weight: bold;
// }
// .design-box2 {
//   width: 80%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin: 0 auto;
// }

// .design-content {
//   width: 40%;
//   height: auto;
//   margin-left: 20px;
// }
// .design-content p {
//   font-size: 1rem;
// }

// .design-content p:nth-child(3) {
//   margin-top: 20px;

// }

// .slider6-wrap {
//   width: 40%;//sliderメイン画像横幅
//   position: relative;
// }
// .slider-6 .slick-slide {
//   height: auto;//sliderメイン画像高さ
//   overflow: hidden;
//   display: flex;
//   flex-wrap: wrap;
// }
// .slider-6 .slick-slide img {
//   display: block;
//   width: 100%;
//   height: auto;
//   object-fit: contain;/*アスペクト比を維持したまま、枠に収まるように拡大縮小される。*/
// }
// .thumbs_dots {
//   margin: 10px 0 0;
// }
// .thumbs_list li {
//   display: inline-block;
//   width: 25%;
//   height: 80px;
//   opacity: 0.4;
//   cursor: pointer;
//   transition: opacity 0.3s;
// }
// .thumbs_list li.slick-active {
//   opacity: 1;
// }


// .item-box {
//   width: 80%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: start;
//   margin: 0 auto;
//   margin-top: 50px;
// }
// .item-content img {
//   width: 100%;
//   height: auto;
// }
// .item-content {
//   width: 200px;
//   // margin: 50px 20px 20px 0;
// }

// .custom-item-content {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: end;
// }

// svg {
//   height: 260px;
//   width: 260px;
// }

// .custom-item-submit {
//   text-align: center;
//   margin-top: 50px;
// }
// .design-box2 {
//   width: 80%;
//   display: flex;
//   justify-content: center;
//   margin: 0 auto;
// }

// .design-content {
//   // width: 600px;
//   width: 50%;
//   height: 400px;
//   margin-left: 20px;
//   position: relative;
// }
// .design-content p {
//   font-size: 1.5em;
// }

// .design-content p:nth-child(3) {
//   position: absolute;
//   bottom: 0;
//   margin: 0;
// }

// .slider6-wrap {
//   // width: 600px;
//   width: 50%;
//   height: auto;
//   position: relative;
// }
// .slider-6 .slick-slide {
//   height: 400px;
//   overflow: hidden;
// }
// .slider-6 .slick-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: contain;/*アスペクト比を維持したまま、枠に収まるように拡大縮小される。*/
// }

// .thumbs_list li {
//   display: inline-block;
//   width: 25%;
//   height: 100px;
//   opacity: 0.4;
//   cursor: pointer;
//   transition: opacity 0.3s;
// }
// .thumbs_list li.slick-active {
//   opacity: 1;
// }


// .item-box {
//   width: 80%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: start;
//   margin: 0 auto;
//   margin-top: 50px;

// }

// .item-content {
//   // width: 200px;
//   margin: 50px 20px 20px 0;
// }


/*designs#showここまで*/





//////////////////////
///////footer////////
//////////////////////

footer {
  width: 100%;
  height: 400px;
  // background-image: image-url("japanese-paper_00162_2.jpg");
  // background-image: image-url("watercolor_00011.jpg");
  // background-position: top;
  background-color: #999966;
  margin-top: 60px;
  position: relative;
  background: linear-gradient(#000033, #003366, #4682B4, #B0C4DE);

}

.icon {
  width: 300px;
  height: 300px;
  background-image: image-url("IMG_6041.PNG");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-top: 50px;
}



.design_box {
  width: 100%;
  height: 300px;
}









@media screen and (max-width: 1200px) {
/*top画面*/
.sidebar {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.hanahiroba-icon {
  width: 100px;
  height: 100px;
}
.menu-trigger {
  width: 100px;
  height: 100px;
}
.menu-trigger span:nth-child(1),span:nth-child(3) {
  position: absolute;
  left: 15px;
  width: 70%;
  height: 7px;
}
.menu-trigger span:nth-child(1) {
  top: 20px;
}
.menu-trigger span:nth-child(2) {
  position: absolute;
  top: 28px;
  left: 14px;
  font-size: 25px;
}
.menu-trigger span:nth-child(3) {
  bottom: 20px;
}
.menu-trigger.active span:nth-child(1) {
  transform: translateY(26px) rotate(-45deg);
}
.menu-trigger.active span:nth-child(3) {
  transform: translateY(-26px) rotate(45deg);
}



/*header画像*/
header {
  height: 250px;
}

.nav-text {
  position: absolute;
  top: 25px;
  right: 160px;
  font-size: 15px;
}

.login-content {
  position: absolute;
  top: 0;
  left: 50px;
  font-size: 10px;
  padding: 30px 0 5px 0;
}
.nav-hanahiroba-icon {

  width: 150px;
  height: 150px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
}
}
@media screen and (max-width: 1024px) {
  /*top画面の枠線*/

 /*top画面の枠線ここまで*/
}

@media screen and (max-width: 800px) {
  /*top画面スライド画像*/
  .image1 {
    background-image: image-url("IMG_9551.JPG");
    background-size: cover;
    background-position: center;
  }

  .image2 {
    background-image: image-url("IMG_9590.JPG");
    background-size: cover;
    background-position: top;
  }
  .image3 {
    background-image: image-url("IMG_9712.JPG");
    background-size: cover;
    background-position: top right;
  }
  .image4 {
    background-image: image-url("IMG_9900.JPG");
    background-size: cover;
    background-position: top right;
  }
 /*top画面スライド画像ここまで*/
}

/*public header用*/
@media screen and (max-width: 768px) {

/*top画面*/
.sidebar {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.hanahiroba-icon {
  width: 50px;
  height: 50px;
}
/*top画面 & public header*/
.menu-trigger {
  width: 50px;
  height: 50px;
}
.menu-trigger span:nth-child(1),span:nth-child(3) {
  position: absolute;
  left: 8px;
  width: 70%;
  height: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 10px;
}
.menu-trigger span:nth-child(2) {
  position: absolute;
  top: 15px;
  left: 7px;
  font-size: 13px;
}
.menu-trigger span:nth-child(3) {
  bottom: 10px;
}
.menu-trigger.active span:nth-child(1) {
  transform: translateY(13px) rotate(-45deg);
}
.menu-trigger.active span:nth-child(3) {
  transform: translateY(-13px) rotate(45deg);
}

/*headerナビがハンバーガーに切り替わる*/
.nav-hanahiroba-icon {
  display: none;
}
  .public-sidebar {
    display: block;
  }
  .nav-text {
    display: none;
  }

/*headerナビがハンバーガーに切り替わるここまで*/

/*public header*/
  header {
    height: 200px;
}
  .login-content {
  left: 30px;
  font-size: 1em;
  padding: 10px 0 5px 0;
}
/*public headerここまで*/
}

@media screen and (max-width: 576px) {
/*top画面*/


/*top画面ここまで*/


/*スマホサイズ(top画面ハンバーガーメニュー用)ここまで*/

/*public header*/
  header {
    height: 150px;
    margin-bottom: 50px;
  }

  .login-content {
    font-size: 0.8em;
}
/*public headerここまで*/
}
