/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "skippr";

 * {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

 #theTarget {
   width: 100%;
   height: 100vh;
   position: relative;
 }

.image1 {
  background-image: url(image1.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: top;
}
.image2 {
  background-image: url(image2.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
}
.image3 {
  background-image: url(image3.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
}
.image4 {
  background-image: url(image4.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
}
.image5 {
  background-image: url(image5.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
}

.image6 {
  background-image: url(image5.jpg);
  width: 100%;
  height: 1300px;
  background-size: cover;
  background-position: top;
}


body{
    font-family: 'Segoe UI';
    font-size: 12pt;
}

header h1{
    font-size:12pt;
    color: #fff;
    background-color: #1BA1E2;
    padding: 20px;

}
article
{
    width: 80%;
    height: 400px;
    margin:auto;
    margin-top:10px;
}


.thumbnail{
    height: 100px;
    margin: 10px;
    float: left;
}



@media screen and (min-width: 1200px) {
  .image1 {
    background-image: url(image6.jpg);
    background-position: bottom center;
  }
  .image2 {
    background-image: url(image7.jpg);
    background-position: top right;
  }
  .image3 {
    background-image: url(image8.jpg);
    background-position: top center;
  }
  .image4 {
    background-image: url(image9.jpg);
    background-position: top;
  }
  .image5 {
    background-image: url(image10.jpg);
    background-position: top center;
  }



