

<footer>
  <div class="background">
    <!--<div class="icon"></div>-->
    <div class="center-footer">
      <p class="mizikani">～身近にもっと和を～</p>
      <h1>花広場</h1>
      <p class="tsumami">つまみ細工</p>
    </div>
  </div>
</footer>

