

<footer>
  <div class="background">
    <div class="footer-text-kana">hanahiroba</div>
    <p class="footer-text">花　広　場</p>


    <div class="footer-center">
      <a href="https://tsumami-j.com/">つまみ細工協会HP</a>

      <a href="https://instagram.com/murakana131?igshid=YmMyMTA2M2Y=">
        instagram<i class="fa-brands fa-square-instagram"></i>
      </a>

    </div>

    <p class="copyright">Copyright © ZORO 2022</p>
  </div>

</footer>

